body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f8ff;  /* Light blue background */
  transition: background-color 0.7s ease;
}

/* Apply dark mode styles when the class is present */
.dark-mode {
  background-color: #222; /* Dark background */
  color: #ddd; /* Light text color for dark mode */
}

/* Dark mode checkbox styles */
#darkModeToggle {
  display: inline-block; 
  appearance: none; /* Remove default checkbox appearance */
  width: 20px;
  height: 20px;
  background-color: #ddd; /* Light background for checkbox */
  border: 1px solid #ddd; /* Light border for checkbox */
  border-radius: 50%; /* Round checkbox shape */
  cursor: pointer; /* Indicate clickable element */
  transition: background-color 0.7s ease;
}

#darkModeToggle:checked {
  background-color: #222; /* Dark background for checked checkbox */
}

#darkModeToggle::after {
  content: "";
  display: block;
  width: 50%;
  height: 50%;
  margin: 3px;
  border-radius: 50%;
  background-color: white; /* White checkmark for checked checkbox */
  transition: background-color 0.7s ease;
}

#darkModeToggle:checked::after {
  transform: rotate(65deg); /* Rotate checkmark on checkbox check */
}

header {
  background-color: #ffd700;  /* Light yellow header */
  padding: 20px;
  text-align: center;
  display: flex; /* Center elements horizontally */
  justify-content: space-between; /* Add space between elements */
  transition: background-color 0.7s ease;
}

h1 {
  font-size: 2em;
  margin-bottom: 10px;
}

img {
  width: 120px;
  height: auto;
}

/* Main styles */
main {
  padding: 20px;
}

/* Text and button section styles */
.text-and-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

p {
  font-size: 1.2em;
  margin-bottom: 10px;
  text-align: center;
}

button {
  background-color: #ff9933; /* Orange button */
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px; /* Add spacing between buttons */
}

/* Activity section styles */
.activity-section {
  border: 1px solid #ddd;
  padding: 15px;
  border-radius: 5px;
}

.activity-section h2, input {
  /* Inline-block display for button and checkbox */
  display: inline-block; /* Make button behave like inline element */
}

.activity-section input {
  margin-right: 10px; /* Add spacing between button and checkbox */
  float: right;
}

h2 {
  margin-bottom: 10px;
}

textarea {
  width: 85%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-top: 20px;
}

/* Footer styles */
footer {
  text-align: center;
  padding: 10px;
  background-color: #f0f8ff; /* Light blue footer */
  transition: background-color 0.7s ease;
}

@media only screen and (max-width: 650px) {
  /* Styles for screens less than or equal to 768px wide */
  button {
    width: 100%; /* Make buttons full width on smaller screens */
  }

  h2 {
    font-size: 24px;
  }

  textarea {
    width: 95%;
  }
}

@keyframes showText {
  from { opacity: 0; }
  to { opacity: 1; }
}

.text-and-button {
  animation: showText 3s ease-in-out; /* Animation name, duration, timing function */
}

.animation {
  animation: showText 2.5s ease-in-out; /* Animation name, duration, timing function */
}